.jumbotron{
    background-color: transparent;
    color: #aaa;
}

.f1-icon{
    color: #f6f6f6;
    background-color: #aaa;
}

.f1-icon:active, .f1-icon:hover {
    background-color: #4fffbc;
}

#footer a:active, #footer a:hover {
    color: #4fffbc;
}

@media (min-width: 640px){
    .password{
        padding-top: 1.6%;
        margin-right: 36%;
        margin-left: 36%;
    }
    .text{
        margin-right: 33%;
        margin-left: 33%;
    }
}
@media (max-width: 640px){
    .password{
        margin-right: 10%;
        margin-left: 10%;
    }
    .text{
        margin-right: 10%;
        margin-left: 10%;
    }
}

.row{
    padding-top: 15%;
}