.categoria{
    width: 100%;
    height: 40px;
    margin-top: 20px;
    text-align: center;
    cursor: pointer;
    border: 2px solid #4FFFBC;
    background-color: #f6f6f6;
}

.categoria h1, p{
    color: #aaa;
}

.categoria:hover {
    background-color: #4FFFBC;
} 

.header{
    width: 100%;
    height: 180px;
    background-color: #4FFFBC;
    text-align: center;
}

.header h1{
    padding-top: 5%;
    color: #f6f6f6;
}

/* Box */

	.box {
		border: solid 1px #aaa;
		margin: 0 !important;
		padding: 0 !important;
	}

		.box > :last-child,
		.box > :last-child > :last-child,
		.box > :last-child > :last-child > :last-child {
			margin-bottom: 0;
		}

		.box.alt {
			border: 0;
			border-radius: 0;
			padding: 0;
		}

		.box.person {
			border: solid 2px transparent;
			padding: 3em 1.5em;
		}

			.box.person h3 {
				margin: 0;
			}

			.box.person .image {
				margin-bottom: 1em;
			}

				.box.person .image img {
					max-width: 100%;
				}


/* Flex */

	.flex {
		display: -ms-flexbox;
		-ms-flex-wrap: wrap;
		-ms-flex-pack: justify;
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		-moz-flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		-moz-justify-content: space-between;
		-webkit-justify-content: space-between;
		-ms-justify-content: space-between;
        justify-content: space-between;
		padding-top: 10px;
	}

		.flex.flex-2 article {
			width: 47%;
		}

		.flex.flex-3 article {
			position: relative;
			width: 28%;
		}

			.flex.flex-3 article:before {
				content: '';
				position: absolute;
				width: 100%;
				height: 100%;
				right: -2em;
				top: 0;
				border-right: 1px solid #dbdbdb;
				pointer-events: none;
			}

			.flex.flex-3 article:last-child:before {
				border: none;
			}

		.flex.flex-4 .box {
			width: 21%;
		}

		@media screen and (max-width: 980px) {

			.flex.flex-2 article {
				width: 100%;
				margin-bottom: 3em;
			}

				.flex.flex-2 article:last-child {
					margin-bottom: 0;
				}

			.flex.flex-3 {
				-moz-flex-direction: column;
				-webkit-flex-direction: column;
				-ms-flex-direction: column;
				flex-direction: column;
			}

				.flex.flex-3 article {
					width: 100%;
					border-bottom: 1px solid #dbdbdb;
					padding-bottom: 2.5em;
					margin-bottom: 3em;
				}

					.flex.flex-3 article:last-child {
						border: none;
						padding-bottom: 0;
						margin: 0 0 1em 0;
					}

					.flex.flex-3 article:before {
						display: none;
					}

			.flex.flex-4 .box {
				width: 47%;
			}

		}

		@media screen and (max-width: 480px) {

			.flex.flex-4 .box {
				width: 100%;
			}

		}

.side{
    width: 80%;
}

.conteudo{
	width: 100%;
}

.conteudo p{
	padding-top: 12%;
	color: inherit;
	font-size: 20px;
}

.conteudoButton{
	padding: 11.5em 1.5em 0 1.5em;
}

.conteudoDesc{
	padding: 2em 1.5em 0 1.5em;
}

.conteudoActive{
	color: #4fffbc;
}

.conteudoBlock{
	color: #aaa;
}

.conteudo .fa{
	font-size: 200px !important;
}

.progress{
	margin-top: 10px;
	height: 40px;
}

.progress-bar{
	background-color: #4FFFBC;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
	font-size: 20px;
	color: #f6f6f6;
}